@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 217.24 25.22% 22.55%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 217.24 25.22% 22.55%;
    --card: 0 0% 100%;
    --card-foreground: 217.24 25.22% 22.55%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --primary: 45.18 100% 50%;
    --primary-foreground: 210 20% 98%;
    --secondary: 48 55.56% 96.47%;
    --secondary-foreground: 217.24 25.22% 22.55%;
    --accent: 166.2 56.18% 65.1%;
    --accent-foreground: 168.75 96.97% 12.94%;
    --destructive: 355.81 57.33% 44.12%;
    --destructive-foreground: 210 20% 98%;
    --ring: 217.24 25.22% 22.55%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --ring: 216 12.2% 83.9%;
  }
}
